/* Reset some default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}
.but{
    margin-left: 20px;
    margin-right: 20px;
    background: transparent;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 6px;
}
.h_buttons{
    display: flex;
    justify-content: center;
}
.but:hover{
    cursor: pointer;
    border: 1px solid white;
    color: white;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
