.logo{
    width: 50px;
    height: 50px;
}
.h_buttons{
    display: flex;
    justify-content: center;
}
.but{
    background: transparent;
    color: white;
    border: none;
    padding: 10px;
    
}
.name{
    margin-left: 20px;
    display: inline;
    font-size: 50px;
}
.background{
    background-image: url("WhatsApp\ Image\ 2023-12-10\ at\ 10.47.25\ PM.jpeg");
}