body
{
    background: rgb(250, 247, 247);
    color :rgb(68, 59, 59);
    font-size: 20px;
    font-weight: normal;
    text-align: center;
    margin-top: 95px;
    .image{

        display:block;
        width:300px;
        margin-left:auto;
        margin-right:auto;
    }
    .inp{
        display:block;
        width:400px;
        margin-left:auto;
        margin-right:auto;
        height:24px;
        padding-top: 10px;
        padding-bottom:10px;
        padding-left: 30px;
        padding-right: 30px;
        border:1px solid black;
        border-radius:24px;
    }
    .sch
    {
        display:block;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgb(216, 212, 208);
        border-radius:4px;
        font-size:14px;
    }
}