
.vlog{
    color:rgb(219, 34, 157);
    background: rgb(173, 161, 161);
    width:300px;
    margin-top:100px;
    margin-left:100px;
    border: 4px solid rgb(39, 37, 37);
    border-radius:30px;
    padding:50px;
}
.follow{
    height: 25px;
    color: rgb(36, 34, 34);
    background-color: rgb(219, 208, 208);
    border:2px solid rgb(49, 47, 47);
    border-radius: 80px;
    padding-top:8px;
    padding-bottom:12px;
    padding-left:16px;
    padding-right:16px;

}